h1.text-center.mt-2.mb-4
    | Letter match


= render 'new_letters'

/ = button_to 'Reload',words_match_letters_path, remote: true, method: :post 

/ button#reload.btn.btn-primary.mx-auto
/     | Reload

/ = @mixCodes 
.fs-3.text-center
    = @codes
.fs-3.text-center
    = @letters


= javascript_include_tag "match_letters"