/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap"

.learn-card , .bottom-panel
    width: 45rem
.bottom-panel
    justify-content: space-between !important
    padding: 0 .5em
.learn-card
    height: 28rem
    margin: 0 auto
    user-select: none
    border: none
    box-shadow: 0px 0px 10px rgba(2, 2, 2, 0.303)
    &:hover
        cursor: pointer
    .letter
        display: block
        margin-bottom: 1.7em
    .morse-code
        display: none
        margin-bottom: 1.7em
.flip
    .letter
        display: none
    .morse-code
        display: block
.card-letters
    height: 18rem
    box-shadow: 0 .5rem 1rem rgba(2, 2, 0, 0.403)
    .btn-primary
        background: #1e82d9
        &:hover
            background: #205788  
    .btns
        padding: 0 .3em
        button
            font-weight: 500
            border-width: 2px
            border-radius: .3rem

.select-laarn-type
    justify-content: center
    align-items: baseline
    .active-btn
        border-radius: 0px
        border-bottom: 3px solid black
a
    text-decoration: none
    color: black

.link
    display: block
    padding: .3em .5em
.active-link
    border-bottom: 3px solid black

.light, .speaker
    width: 100%
    height: calc( 100% - 6rem )
    border-radius: 10%
    position: absolute
    background-image: url('tower.png')
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    top: 1.5rem
    left: 0
    .bulb
        width: 4.3rem
        height: 4.3rem
        position: absolute
        top: 5.3rem
        left: 50%
        transform: translateX(-50%) translateY(-50%)
        border-radius: 50%
        transition: .1s
        background: transparent
    .bulb-on
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,249,0,1) 11%, rgba(229,224,0,1) 82%, rgba(0,0,0,1) 100%)
        &::after
            width: 2rem
            background: red
            content: ""
            height: 2rem


.speaker
    background-image: url("megaphone.png")
    background-size: contain
    background-repeat: no-repeat

.switch-rev
    background-image: url("reverse.png")
    width: 1.8rem
    height: 1.8rem
    background-size: 90%
    background-repeat: no-repeat
    background-position: center
    align-self: flex-end
    &:hover
        background-size: 100%
        cursor: pointer

.controls 
    width: 18rem
    height: 3.1rem
    position: absolute
    bottom: .8rem
    display: flex
    justify-content: space-between
    button
        width: 45%
        .img
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            width: 100%
            height: 83%
        &:nth-child(1), &:nth-child(2)
            display: none   
        &:nth-child(1)
            border: 2px solid #F44336
            &:hover
                background: #f443362a
            .img
                background-image: url("close.png")
        &:nth-child(2)
            border: 2px solid #00BA00
            &:hover
                background:#00ba002b
            .img
                height: 90%
                background-image: url("check.png")
    #flip
        width: 90%
.show-con
    #flip
        display: none
    #no,#yes
        display: block