.d-md-flex.d-none.desktop-bottom-menu.justify-contetn-end
    = link_to "Learn", keyer_index_path(level: "auto"), class: "text-center"
    = link_to "Your letters", letters_path , class: "text-center"
    = link_to "Account", keyer_index_path(level: "auto"), class: "text-center"
